.app__Service_features{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;

   margin-top: 3rem;
}

.app__Service_features-card {
   flex: 1;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   min-width: 230px;

   margin: 1rem;
}

@media screen and (min-width: 1900px) {
   .app___features-card {
       min-width: 390px;
   }
}

.app__Service_features-card img {
   width: 90px;
   height: 90px;
}

.app__Service_features-card_content {
   display: flex;
   flex-direction: column;
   margin-left: 1rem;
}

@media screen and (max-width: 450px) {
   .app__Service_features-card {
       min-width: 100%;
       margin: 1rem 0;
   }
}